<document>
    <stackTemplate id="template-data" data-template="Folder" data-folder="{{&mainFolder}}">
        <banner>
            <title>{{title}}</title>
        </banner>

        <collectionList><grid>
            <section>
                {{#folders}}
                    <lockup action="{{&action}}">
                        <img src="{{&src}}" width="273" height="205" />
                        <title>{{name}}</title>
                    </lockup>
                {{/folders}}

                {{#movies}}
                    <lockup action="{{&action}}">
                        <img src="{{&src}}" width="215" height="310" />
                        <title>{{name}}</title>
                    </lockup>
                {{/movies}}
            </section>
        </grid></collectionList>
    </stackTemplate>
</document>
