/**
 * All the items
 */
.page {
    width: 100%;
}

.inactive {
    display: none;
}

/**
 * One item (box)
 */
.movie-box {
    width: 165px;
    height: 167px;
    margin-left: 10px;
    float: left;
}

/**
 * a label inside the item
 */
.movie-label {
    width: 165px;
    text-align: center;
}

/**
 * IMG inside the item
 */
.movie-thumbnail {
    width:152px;
    height:114px;
}

.back-image {
    width:114px;
    height:114px;
}

.back-image-small {
    width:57px;
    height:57px;
}

.movie-picture {
    width: 360px;
    height: 480px;
}

.genre-box {
    text-shadow:5px 5px 10px black;
}

.serie-box {
    border: 1px black;
    text-shadow:5px 5px 10px black;
}

.fullwidth {
    width: 100%;
}

#searchBox {
    padding-top: 5px;
}

/**
 * Movie detail
 */
.movie-description {
    padding-top: 2em;
    font-style: italic;
}

.movie-title {
    font-size: 3em;
}

.movie-title-row {
    padding-bottom: 3em;
}

/**
 * Foundation elements
 */
.small-panel {
    padding-bottom: 0px;
}

a.item.small-icon-anchor {
    padding: 5px;
}

.icon-bar > * i.small-icon {
    font-size: 1em;
}

i.fi-arrow-left.movies-back-icon {
    font-size: 160px; 
    vertical-align: top; 
    color: green;
}
