<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
    <session-config>
        <!-- Minutes: 14 days -->
        <session-timeout>20160</session-timeout>
    </session-config>
    
    <!-- 
    <servlet>
        <servlet-name>vaadin</servlet-name>
        <servlet-class>com.zemiak.movies.Servlet</servlet-class>
        
        <init-param>
            <param-name>UI</param-name>
            <param-value>com.zemiak.movies.MoviesUI</param-value>
        </init-param>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>vaadin</servlet-name>
        <url-pattern>/admin/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>vaadin</servlet-name>
        <url-pattern>/VAADIN/*</url-pattern>
    </servlet-mapping>
    -->
</web-app>
