/**
 * NavigationButton descriptions (search results)
 */

.v-touchkit-navbutton-desc {
    float: left;
    color: black;
    font-weight: bold;
}

div .v-touchkit-navbutton-desc {
    float: left;
    color: black;
    font-weight: bold;
}

/**
 * Tablet responsive design
 */

.grid {
    overflow: visible;
}

/* Style the items in the grid */
.grid > .v-touchkit-navbutton {
    outline: 1px dotted rgba(0,0,0,.3);
    text-align: center;
    padding: 2em 0;
    font-size: 16px;
    font-weight: bold;
    float: left;
}

/* We want the items in the grid to stay between 100px and 200px, if possible */
.grid[width-range~="0-200px"] .v-touchkit-navbutton {
    width: 100%;
}

.grid[width-range~="201px-400px"] > .v-touchkit-navbutton {
    width: 50%;
}

.grid[width-range~="401px-600px"] > .v-touchkit-navbutton {
    width: 33.3333%;
}

.grid[width-range~="601px-800px"] > .v-touchkit-navbutton {
    width: 25%;
}

.grid[width-range~="801px-1000px"] > .v-touchkit-navbutton {
    width: 20%;
}

.grid[width-range~="1001px-"] > .v-touchkit-navbutton {
    width: 16.6667%;
}